.card {
  min-height: 350px;
  position: relative;
  cursor: pointer;

  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-header,
.card-description {
  margin-bottom: 25px !important;
}

.card-description {
  font-size: 17px;
  /* letter-spacing: 1px; */
}
.card-technology {
  position: absolute;
  bottom: 15px;
}

.card-technology span {
  margin-right: 15px;
}
